<h2>Create A New Team</h2>

<form method= "POST" action= "/teams">
  <label for= "create_team">Team Name:</label><br>
  <input type= "text" id= "name" name= "name"><br>

  <br>

  <label for= "create_mascot">Team Mascot:</label><br>
  <input type= "text" id= "mascot" name= "mascot"><br>

  <br>

  <label for= "create_colors">Team Colors:</label><br>
  <input type= "text" id= "colors" name= "colors"><br>

  <br>
  <input class= "btn btn-primary" type= "submit" value= "submit">
</form>
