<h1>Create a New Team:</h1>
<div>
  <form action="/teams" method="POST">
    <div>
      <label for="team_name">Team Name: </label>
      <input id="team_name" type="text" name="team[name]">
    </div>
    <div>
      <label for="team_mascot">Team Mascot: </label>
      <input id="team_mascot" type="text" name="team[mascot]">
    </div>
    <div>
      <label for="team_colors">Team Colors: </label>
      <input id="team_Colors" type="text" name="team[colors]">
    </div>
    <input type="submit" value="Create Team">
  </form>
</div>
