<% @teams.id %>
<h2>Team Name: </h2> <p><%= @teams.name %></p>
<h2>Team Mascot: </h2> <p><%= @teams.mascot %></p>
<h2>Team Colors: </h2> <p><%= @teams.colors %></p>


<br>

<br>

<a href= "/teams/<%= @teams.id %>/edit">Edit This Team</a>
