<table>
  <tr>
    <th><h2>Team Name -----</h2></th>
    <th><h2>Team Mascot -----</h2></th>
    <th><h2>Team Colors -----</h2></th>
  </tr>
  <tr>
    <td><%= @teams.name %></td>
    <td><%= @teams.mascot %></td>
    <td><%= @teams.colors %></td>
  </tr>
<table>

<br><a class="button" href="/">Go Home</a>
