<h2>Create Your Player Account</h2>
<% if @errors %>
  <p style="color: red;"><%= @errors[:message] %></p>
<% end %>
<div>
  <form method="POST" action="/signup">
    <div>
      <label for="username">Username:</label>
      <input type="text" placeholder="Username" name="user[username]">
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="text" placeholder="Email" name="user[email]">
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" placeholder="******" name="user[password]">
    </div>
    <input class="btn btn-primary" type="submit" value="submit">
  </form>
</div>
