<h2>Login To NYC Footy Leagues</h2>
<div>
  <form method= "POST" action= "/login">
    <div>
      <label for= "username">Username:</label>
      <input type= "text" placeholder="Username" name= "username">
    </div>
    <div>
      <label for= "password">Password:</label>
      <input type= "password" placeholder="******" name= "password">
    </div>
    <input type= "submit" value= "submit">
  </form>
</div>
