<h2>Create Your Player Profile</h2>
<form method= "POST" action= "/signup">
  <label for= "email">Enter Your Email:</label><br>
  <input type= "text" name= "email" placeholder= "Email">

  <br>

  <label for= "password">Enter Your Password:</label><br>
  <input type= "password" name= "password" placeholder= "*****">

  <br>

  <label for= "player_name">Enter Your Full Name:</label><br>
  <input type= "text" name= "player[name]" placeholder= "Full Name">

  <br>

  <label for= "player_position">Enter Your Preferred Position:</label><br>
  <input type= "text" name= "player[position]" placeholder= "Preferred Position">

  <br>

  <label for= "player_age">Enter Your Age:</label><br>
  <input type= "text" name= "player[age]" placeholder= "Age">

  <br>

  <input type= "submit" value= "Create Your Player Profile">
</form>
