<h1>Welcome to the NYC Soccer League Database</h1>

<p>This is an application where you can create your player profile, make teams and then add them to the existing league database.</p>

<p>Please follow the links at the top of the page to get started</p>
