<h1>Welcome to the NYC Recreational Soccer League Database</h1>

<p>This is an application where you can keep track of your player profile and build teams to then add to the league in which you will be playing</p>

<h4>Login to your Player Profile Below</h4>

<form method= "POST" action= "/login">
  <label for="email">Email:</label><br>
  <input type="text" name="user[email]">

  <label for="password">Password:</label>
  <input type="password" name="player[password]">

  <input type="submit" name="Submit" value="Submit">

</form>

<a href= "/signup">Or Sign Up</a>
